* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page {
    background: grey;
    height: 100vh;
}

.header {
    position: sticky;
    padding: 5rem;
    text-align: center;

    .header__title {
      font-size: 3rem;
    }
}

.main__search {
  font-size: 3rem;
  text-align: center;
  #search {
    font-size: 2rem;
  }
}
.card{
    margin: 2rem auto;
    text-align: center;
    .card__img {
      width: 80%;
      object-fit: cover;
    }
    .card__description{
        display: none;
    }
}

.footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    padding: 2rem 0;
    background-color: pink;
    .footer__nav {
      button {
        padding: 2rem;
        font-size: 3rem;
      }
    }
    .footer__link {
        font-size: 4rem;
    }
}