@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700&display=swap');

$gray: rgb(235, 235, 235);
$inconsolata: 'inconsolata', monospace;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $inconsolata;
}

.page {
    background: rgb(255, 255, 255);
    height: 100vh;
}

.header {
    position: sticky;
    padding: 5rem;
    text-align: center;

    .header__title {
      font-size: 3rem;
    }
}

.main__search {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 2rem;
  #search {
    font-size: 2rem;
    text-align: center;
    padding: 1rem 2rem;
    border: 1px solid black;
    border-radius: 5px;
  }
}
.main__gallery {
  padding-bottom: 15rem;
}

.footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    padding: 2rem 0;
    background-color: $gray;
    .footer__nav {
      button {
        padding: 1rem 2rem;
        font-size: 2rem;
        margin-bottom: 2rem;
      }
    }
    .footer__link {
        font-size: 2rem;
    }
}

.flip-card {
  background-color: transparent;
  margin: 2rem auto;
  width: 50rem;
  height: 33rem;
  perspective: 1000px; 
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 15px;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: $gray;
  color: rgb(0, 0, 0);
  padding-top: 15rem;
  font-size: 2rem;
  transform: rotateY(180deg);
}
.card__img{
  width: 100%;
  height: 33rem;
  border-radius: 5px;
  object-fit: cover;
}
